body {
  background-color: #101218;
  color: white;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

button {
  background-color: #151723;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 8px;
  transition-duration: 0.4s;
}

button:hover {
  background-color: #202228;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 8px;
}
